# Vorlesung 1: Python: Sprache f체r computational humanities

Tutorial:
 - https://py-tutorial-de.readthedocs.io/de/python-3.3/index.html
Lectures:
 - https://github.com/rajathkumarmp/Python-Lectures
 - https://www.hdm-stuttgart.de/~maucher/Python/html/

## Grundelemente der Sprache
### Module und Bibliotheken deklarieren
https://www.hdm-stuttgart.de/~maucher/Python/html/Module.html

In [11]:
# importieren von Modulen/Bibliotheken

### Objekte

#### Typen von Daten
https://www.hdm-stuttgart.de/~maucher/Python/html/Datentypen.html

In [12]:
# strings
"Dieses ist eine Zeichenfolge"
'Auch dieses ist eine Zeichenfolge'
# number
2.12
# Liste
["Zeichen1","Z2","Z3"]
# dictionaries
{"eins":1,"zwei":2}

{'eins': 1, 'zwei': 2}

### Variablen als Namen
"=" als Zuordnung

In [13]:
# strings
a="Dieses ist eine Zeichenfolge"
# number
b=2.12
# Liste
c=["Zeichen1","Z2","Z3"]
# dictionaries
d={"eins":1,"zwei":2}

In [14]:
print(d)

{'eins': 1, 'zwei': 2}

In [17]:
a.count("e")

7

In [18]:
"ie" in a

True

### Funktionen

In [ ]:
len(c)

### Methoden der Objekte

In [ ]:
# nutzen Sie TAB, um nach dem Punkt die zul채ssigen Methoden anzuzeigen
d["eins"]

In [ ]:
c.sort()
c

In [16]:
import json
import pandas as pd

In [10]:
with open('chapter1.json') as json_data:
    PoleisRawData = json.load(json_data)
PoleisKeyList = list(PoleisRawData)
for i in PoleisKeyList:
    if "Megara" in PoleisRawData[i]:
        # Auskommentieren f체r langen Text-Ausdruck
        #print(PoleisRawData[i])
        pass

In [17]:
type(PoleisRawData)

dict

In [107]:
# Liest das Dictionary als Dataframe ein. Namen der Poleis werden als Index benutzt.
dfPoleis = pd.DataFrame.from_dict(PoleisRawData, orient='index')
# Umnennen der Spalte von 0 zu 'full_text'
dfPoleis = dfPoleis.rename(columns={0: 'full_text'})

In [108]:
# Extrahiere Name der Polis aus Index
dfPoleis['city'] = [x[4:] for x in dfPoleis.index]

# Extrahiere Nummer des Polis Eintrags
dfPoleis['city_index'] = [int(re.findall('\d{1,2}', x)[0]) for x in dfPoleis.index]

# Nutze neuen Index (startet bei 0)
dfPoleis = dfPoleis.reset_index(drop=True)

In [109]:
dfPoleis

,full_text,city,city_index
0,"(Tauromenitas) Map 47. Lat. 37.50, long. 15....",Tauromenion,48
1,"(Megareus) Map 47. Lat. 37.10,long. 15.10. ...",Megara,36
2,"(Mytiseratinos) Map 47. Lat. 37.35,long. 14....",Mytistratos,39
3,"(Ailoros) Map 47. Lat. 36.50,long. 15.05. ...",Heloron,18
4,"(Alaisinos) Map 47. Lat. 38.00,long. 14.15....",Alaisa,11
5,"Map 47. Lat. 37.10,long. 14.55: the loca- ...",(Stielanaioi),46
6,"(Piakinos) Map 47. Unlocated, but possibly...",Piakos,43
7,"(Hennaios) Map 47. Lat. 37.35,long. 14.15. ...",Henna,19
8,"(Akragantinos) Map 47. Lat. 37.20,long. 13....",kragas,9
9,"(Abakaininos) Map 47. Lat. 38.05,long. 15.05...",bakainon,5
10,"(Agyrinaios) Map 47. Lat. 37.40,long. 14.30...",gyrion,7
11,(Galarinos) Map 47.Unlocated (Manni ( 1981)...,Galeria,16
12,"(Herakleotes) Map 47. Lat. 37.25,long. 13.15...",Herakleia 1,20
13,"(Kephaloiditas) Map 47. Lat. 38.00, long. 14...",Kephaloidion,32
14,"(Alontinos) Map 47. Lat. 38.05,long. 14.40....",Alontion,12
15,"(Hipanatas) Map 47. Lat. 37.40,long. 13.25...",Hippana,25
16,"(Kasmenaios) Map 47. Lat. 37.05,long. 14.50....",Kasmenai,29
17,"(Katanaios) Map 47. Lat. 37.30,long. 15.05....",Katane,30
18,Map 47. Unlocated. Type: C: .The Tyr- rhen...,(Tyrrhenoi),50
19,(Kallipolites) Map 47. Unlocated. Type: A...,Kallipolis,27
20,"(Selinousios) Map 47. Lat. 37.35,long. 12.5...",Selinous,44
21,"(Akraios) Map 47. Lat. 37.05,long. 14.55. ...",Akrai,10
22,"(Engyinos) Map 47. Lat. 37.45,long. 14.35....",Engyon,14
23,"(Syrakosios) Map 47. Lat. 37.05,long. 15.15....",Syrakousai,47
24,"(Kentoripinos) Map 47. Lat. 37.35,long. 14.4...",Kentoripa,31
25,"(Leontinos) Map 47. Lat. 37.15,long. 15.00....",Leontinoi,33
26,"(Tyndarites) Map 47. Lat. 38.10,long. 15.05...",Tyndaris,49
27,"(Apolloniates) Map 47. Lat. 38.00,long. 14.3...",Apollonia,13
28,"(Herbessinos) Map 47. Unlocated, but presum...",Herbes(s)os,22
29,(Imacharaios) Map 47. Unlocated. Barr. tent...,Imachara,26
30,"(Naxios) Map 47. Lat. 37.50,long. 15.15. S...",Naxos,41
31,Map 47. Unlocated (cf. Manni ( 1981) 225)...,(Sileraioi),45
32,(Liparaios) Map 47. Lat. 38.30 long. 14.55....,Lipara,34
33,"(Adranites) Map 47. Lat. 37.40,long. 14.50....",dranon,6
34,"(Geloios, Geloaios) Map 47. Lat. 37.05,long...",Gela,17
35,"(Longenaios) Map 47. Lat. 38.05,long. 15.10....",*Longane,35
36,"(Kamarinaios) Map 47. Lat. 36.50,long. 14.25...",Kamarina,28
37,"(Himeraios) Map 47. Lat. 37.55,long. 13.50....",Himera,24
38,(Euboeus) Map 47. Unlocated. Type: C: .Th...,Euboia,15
39,"(Morgantinos) Map 47. Lat. 37.25,long. 14.30...",Morgantina,37
40,(Aitnaios) Map 47.Location of Aitna I as ...,itna,8
41,(Zanklaios)/Messana,Zankle,51
42,"(Mylaios) Map 47. Lat. 38.15, long 15.15. ...",Mylai,38
43,(Petrinos) Map 47. Unlocated (cf. Bejor (...,Petra,42
44,(Herbitaios) Map 47.Unlocated (cf. C. Boeh...,Herbita,23
45,"Map 47.Unlocated site in western Sicily, i...",Herakleia 2,21
46,(Nakonaios) Map 47. Unlocated (Tegon ( 199...,Nakone,40

### Kontrollstrukturen der Verfahrensabl채ufe
https://www.hdm-stuttgart.de/~maucher/Python/html/Kontrollstrukturen.html
#### Iteratoren

### Funktionen
https://www.hdm-stuttgart.de/~maucher/Python/html/Funktionen.html

In [ ]:
### Klassen von Objekten
https://www.hdm-stuttgart.de/~maucher/Python/html/Klassen.html